*.js
*.json
*.md
*.mjs
*.mts
*.map
node_modules/cookie/LICENSE
node_modules/react/LICENSE
node_modules/react-dom/LICENSE
node_modules/scheduler/LICENSE
node_modules/set-cookie-parser/LICENSE

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
